.App {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", -apple-system, sans-serif !important;
}

.centeredVerticalAndHorizontal {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.ship-dropdown {
    min-width: 25em !important;
}

.recipe-item-span {
    float: left;
    margin-right: 5px;
    margin-bottom: 2px;
}

.recipe-item-image {
    display: inline-block;
    margin-left: 4px;
}

.feedbackmodal-container {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.field-maxwidth {
    max-width: 250px;
}

.sharedialogMainOverride {
    max-width: 550px !important;
}

.activedialogMainOverride {
    max-width: 700px !important;
}

.replicatordialogMainOverride {
    max-width: 900px !important;
}

.warpdialogMainOverride {
    max-width: 600px !important;
}

.equipment-slot {
    border: 0px;
    margin: 2px;
}

.equipment-slot-selected {
    border: 2px;
    margin: 0px;
    border-color: darkslateblue;
    border-style: dashed;
}

.table-CrewEquipment {
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 99%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.table-GauntletMatch {
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    float: left;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.table-GauntletCrew {
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    float: left;
    width: 18%;
    max-width: 200px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.rarity-stars {
    font-size: medium;
}

.autoWidth {
    width: auto;
}

.gauntletCrew-statline {
    display: inline-flex;
}

.data-grid {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 78px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0;
    position: relative;
}

.voyage-rewards-grid {
    max-width: 750px;
}

.tab-panel {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 46px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0;
    position: relative;
}

.tab-panel-x {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 46px);
    padding: 5px 0;
    position: relative;
}

.embedded-crew-grid {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0;
    position: relative;
}

.skill-stats-div {
    text-align: center;
}

.skill-stats {
    font-size: small;
    font-weight: bold;
}

.skill-stats-range {
    font-size: x-small;
}

.quest-mastery {
    display: inline-flex;
}

.groupHeader {
    font-size:x-large;
}

.itemHeader {
    font-size: large;
}

.groupHeaderDescriptiom {
    font-size:medium;
}

.CaptainCard-callout {
    width: 470px;
    padding: 6px;
}

.CalloutQuest {
    display: inline-block;
}

.CalloutQuest-buttonArea {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.CalloutQuest-callout {
    max-width: 350px;
}

.CalloutQuest-inner {
    height: 100%;
    padding: 0 24px 20px;
}

.CalloutQuest-header {
    padding: 18px 24px 12px;
}

.CalloutQuest-title {
    margin: 0;
    font-size:large;
}

.CalloutQuest-subText {
    margin: 0;
    font-size:small;
}

.starbase-room {
    display: inline-flex;
    vertical-align:middle;
}

.starbase-room-name {
    padding-top: 12px;
}

.gauntlet-match-crew-slot {
    width: 140px;
}

.gauntlet-arrow {
    width: 170px;
    display: block;
    background: #0078d7;
    text-decoration: none;
    position: relative;
    height: 80px;
    padding: 0 10px 0 5px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 40px;
}

.image-disabled {
    opacity: 0.3;
}

.gauntlet-arrow:before, .gauntlet-arrow:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #0078d7;
    border-width: 40px 20px;
    width: 0;
    height: 0;
}

.gauntlet-arrow:before {
    left: -20px;
    border-left-color: transparent;
}

.gauntlet-arrow:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #0078d7;
}

.modalNotification-container {
    min-height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.modalNotification-container .modalNotification-header {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    padding: 0 28px;
    min-height: 40px;
}

.modalNotification-container .modalNotification-body {
    flex: 4 4 auto;
    padding: 5px 28px;
    overflow-y: auto;
}

.blinking_thing {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}